
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta name="robots" content="noindex">

    	<style>
    	    .affil-table td {
    	        padding: 10px;
    	    }
    	</style>
	</head>
	<body>

            <form action="/affiliates/create" method="POST">
                <input type="text" name="name" id="name" placeholder="name" /><br>
                <input type="text" name="email" id="email" placeholder="email" /><br>
                <textarea name="address" id="address" placeholder="address"></textarea><br>
                <input type="text" name="code" id="code" maxlength="8" placeholder="code" /><br>
                <input type="password" name="password" id="password" placeholder="password" /><br>
                <input type="submit" value="submit">
            </form>
            <br><br>
            <center>
              <table class="affil-table">
                  <thead>
                      <tr>
                          <td>Name</td>
                          <td>Email</td>
                          <td>Code</td>
                          <td>Count</td>
                      </tr>
                  </thead>
                  <tbody>
                  {% for affiliate in affiliates %}
                      <tr>
                          <td>{{ affiliate.name }}</td>
                          <td>{{ affiliate.email }}</td>
                          <td>{{ affiliate.code }}</td>
                          <td>{{ affiliate.count }}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </center>
	</body>
</html>
