
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vitesse Electric Longboards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The Vitesse Electric Longboard can hit speeds of 18 mph, has a 12.4 mile range per charge, and is a family run business out of Florida." />
	<meta name="keywords" content="electric skateboard, electric longboard, electric skateboards, electric longboards, vitesse, vitesse boards" />
	<meta name="author" content="vitesseboards.com" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Vitesse Electric Longboard"/>
	<meta property="og:image" content="images/decC3.png"/>
	<meta property="og:url" content="http://www.vitesseboards.com"/>
	<meta property="og:site_name" content="Vitesse Electric Longboards"/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="Vitesse Electric Longboard" />
	<meta name="twitter:image" content="images/decC3.png" />
	<meta name="twitter:url" content="http://www.vitesseboards.com" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="stylesheet" id="theme-switch" href="{{ url_for('static', filename='css/style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->
	</head>
	<body>

    <header role="banner" id="fh5co-header" style="background-color: #212121;  border-bottom: 1px solid white;">
		<div class="container">
			<!-- <div class="row"> -->
		    <nav class="navbar navbar-default">
		    <div class="navbar-header">
		    	<!-- Mobile Toggle Menu Button -->
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="index.html"><img style="width:150px;" src="{{ url_for('static', filename='images/vitesse_logo.png') }}"></a> 
		    </div>
		    <div id="navbar" class="navbar-collapse collapse">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
		        <li><a href="#" data-nav-section="about"><span>About</span></a></li>
		        <li><a href="#" data-nav-section="specs"><span>Specs</span></a></li>
		        <li><a href="#" data-nav-section="faq"><span>F.A.Q.</span></a></li>
		        <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
		        <li><a href="#" data-nav-section="order" id="order-btn"><span><div class="btn">Order Now</div></span></a></li>
		      </ul>
		    </div>
		    </nav>
		  <!-- </div> -->
		 </div>
	</header>
	<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-12 jumbo-margin">
                            <h1 class="to-animate" id="main-msg">FEEL SPEED, PRECISION & SMOOTHNESS</h1>
                            <h2 class="to-animate">In the ride of your life</h2>
                            <img src="{{ url_for('static', filename='images/decC3.png') }}" style="width:80%;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

	<section id="fh5co-intro" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-md">
				<div class="col-md-12 to-animate" id="bio" style="background-color: #F9F9F9;">
                    <div class="row">
                        <div class="col-sm-3">
                            <img id="lara" src="{{ url_for('static', filename='images/Lara.png') }}"/>
                        </div>
                        <div class="col-sm-9">
						    <h2>Family owned</h2>
                            <p>I am Lara Kazanski from Tampa, Florida. You can email me at Lara@VitesseBoards.com. I started the Vitesse brand because I am tired of pumping on flat Tampa surfaces. I like to go fast! snowboarding, longboarding, mountain biking, you name it, speed is my adrenaline. Vitesse longboards help me feel like I am going as fast on a flat surface as going downhill. When you buy a Vitesse longboard, you are buying from us. If you want to be just another number on a companies invoice, our boards are not for you. We take pride in relating to each customer making you part of our longboarding community.<br><b>That is why I am giving the first 15 pre-orders $200 off.</b></p>
                        </div>
                    </div>
                    <div class="row">
					   <center><p><a href="#order" class="btn btn-primary">Order Now & Save $200</a></p></center>
                   </div>
				</div>
			</div>
            <div data-section="specs"></div>
			<div class="row watch-video text-center to-animate section-heading">
                <h2 class="to-animate fadeInUp animated">Power & Efficieny</h2>
                <div class="row" class="stats">
                    <div class="col-sm-4 border-right"><span class="stat">18</span><span class="measurement">MPH</span></div>
                    <div class="col-sm-4 border-right"><span class="stat">12.4</span><span class="measurement">Miles</span></div>
                    <div class="col-sm-4"><span class="stat">1200</span><span class="measurement">Watts</span></div>
                </div>
                <img src="{{ url_for('static', filename='images/specs.jpg') }}" style="width:90%; margin-top:40px;">
			</div>
		</div>
	</section>

    <section id="fh5co-services" data-section="faq" style="background-image: url({{ url_for('static', filename='images/full_image_2.jpg') }});">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-left">
					<h2 class=" left-border to-animate" style="color:white;">FAQ</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-monitor"></i>
					<h3>What if I have never ridden a longboard?</h3>
					<p>We've tested our board out with many first time riders. Because you are no longer focusing on pumping and recentering your weight,
					Many first time riders find that they learn much quicker with the Vitesse board. </p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-anchor"></i>
					<h3>How do I control the board?</h3>
					<p>A Bluetooth wireless remote controls our board acceleration. The control allows you to speed up, slow down, brake, and switch direction. You turn by shifting your body weight as if on a regular long board. </p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-layers2"></i>
					<h3>How does it charge?</h3>
					<p>The board charges using a DC power supply, and can take up to two hours for a full charge. The remote is charged using a micro USB and will take 1 hour for a full charge.  The bluetooth remote charges via micro USB.</p>
				</div>

				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-video2"></i>
					<h3>Can the board go up hills?</h3>
					<p>Yes! both our single motor and our dual motor boards can ride up small to medium inclines. Depending on your weight,the board will go faster or slower. For a faster up hill ride, it is best to approach the hill with some momentum.</p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-monitor"></i>
					<h3>What is the max rider weight?</h3>
					<p> The maximum rider weight is 260lbs. </p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-monitor"></i>
					<h3>How does Vitesse compare to other electric boards?</h3>
					<p>Unlike other companies we are family owned and operated, and it shows in the quality of service you receive. Also, our boards 1200w motor is more powerful and goes further on one charge.</p>
				</div>

			</div>
		</div>
	</section>

	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Testimonials</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>&ldquo;I am new to longboards and riding the Vitesse board was easier to balance on than a regular longboard. I felt more stable not having to pump.&rdquo;</p>
						</blockquote>
						<div class="author to-animate">
                            <figure><img src="{{ url_for('static', filename='images/alex_headshot.jpg') }}" alt="Alex K."></figure>
							<p>
							Alex
                            <span class="subtext">Mechanic - US National Guard</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>It is easier to ride than I expected and went really fast.  It was like riding in a car, but better!</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="{{ url_for('static', filename='images/kyndall_headshot1.jpg') }}" alt="Person"></figure>
							<p>
							Kyndall Fry <span class="subtext">Student - Brooks-DeBartlo High School</span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>&ldquo;I was driving the car in traffic next to my wife on a Vitesse Board.  When I got to the grocery store a couple blocks away, she beat me there!&rdquo;</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="{{ url_for('static', filename='images/zach_headshot.jpg') }}" alt="Person"></figure>
							<p>
                            Zach
                            <span class="subtext">Software Developer - Tampa</span>
							</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>

    <div id="order"></div>
    <section id="fh5co-counters" style="background-image: url({{ url_for('static', filename='images/full_image_1.jpg') }});" data-stellar-background-ratio="0.5" data-section="order">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2>Order Now and save $200</h2>
                    <p>The first 15 orders receive the pre-order discount<br>Orders will be shipped when 10 pre-orders have been places or June 1st</p>>
                    <div class="row">
                        <div class="col-sm-4" style="color: white;">
                            <form id="summary" action="/charge" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table>
                                            <tr>
                                                <td><b>Order Summary:</b></td>
                                                <td><b>Quantity</b></td>
                                            </tr>
                                            <tr>
                                                <td>1200w Single Motor Electric Longboard</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>Bluetooth Wireless Remote</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>AC Power Charger</td>
                                                <td>1</td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td>Price:</td>
                                                <td>$899</td>
                                            </tr>
                                            <tr>
                                                <td>Pre-order Discount:</td>
                                                <td style="color: #51D2A9">-$200</td>
                                            </tr>
                                            <tr>
                                                <td>Shipping (Continental US):</td>
                                                <td>Free</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total:</b></td>
                                                <td><b>$699</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to checkout.</noscript>
                                <button class="btn btn-primary" id="myStripeButton">Begin Checkout</button>
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <img src="{{ url_for('static', filename='images/bundle.png') }}" style="width:100%"/>
                        </div>
                   </div>
		</div>
	</section>

	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop">Top</a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
                    <p>&copy; Odessa Organic LLC & Lara Kazanski. All Rights Reserved.</p>
                    <i style="font-size:10px">The Vitesse brand is owned by Odessa Organic LLC. Odessa Organic LLC is soley a distributer and does not manufacture products.</i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
                    <!--
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
					</ul>
                    -->
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Stripe -->
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <!-- Stripe Handler -->
    <script>
    var handler = StripeCheckout.configure({
        key: '{{ key }}',
        token: function(token, args) {
          for (var attrname in token) { args[attrname] = token[attrname]; }
          $.ajax({
            type: "POST",
            url: "/charge",
            data: args,
            dataType: 'json',
            success: function(data) {
                window.location.replace('/thank-you/' + data.order_number)
            },
            error: function(e) {
                console.log('An Error Occured');
                console.log(e);
            }
          });
        }
    });
    document.getElementById('myStripeButton').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
            name: 'Vitesse Electric Longboards',
            description: '1 Electric Longboard ($699.00)',
            amount: 69900,
            shippingAddress: true,
        });
        e.preventDefault();
    });
    </script>

	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
